<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hoteldb?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/model/User.hbm.xml</value>
                <value>com/model/Hotel.hbm.xml</value>
                <value>com/model/Admin.hbm.xml</value>
                <value>com/model/Room.hbm.xml</value>
                <value>com/model/Order.hbm.xml</value>
                <value>com/model/Comment.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- DAO的beans -->
    <bean id="baseDAO" class="com.dao.BaseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userDAO" class="com.dao.impl.UserDAOImpl" parent="baseDAO"/>
    <bean id="hotelDAO" class="com.dao.impl.HotelDaoImpl" parent="baseDAO"/>
    <bean id="adminDAO" class="com.dao.impl.AdminDAOImpl" parent="baseDAO"/>
    <bean id="roomDAO" class="com.dao.impl.RoomDAOImpl" parent="baseDAO"/>
    <bean id="orderDAO" class="com.dao.impl.OrderDAOImpl" parent="baseDAO"/>
    <bean id="commentDAO" class="com.dao.impl.CommentDAOImpl" parent="baseDAO"/>

    <!-- 业务逻辑依赖注入 -->
    <bean id="userService" class="com.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="hotelService" class="com.service.impl.HotelServiceImpl">
        <property name="hotelDAO" ref="hotelDAO"/>
    </bean>
    <bean id="adminService" class="com.service.impl.AdminServiceImpl">
        <property name="adminDAO" ref="adminDAO"/>
    </bean>
    <bean id="roomService" class="com.service.impl.RoomServiceImpl">
        <property name="roomDAO" ref="roomDAO"/>
    </bean>
    <bean id="orderService" class="com.service.impl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDAO"/>
    </bean>
    <bean id="commentService" class="com.service.impl.CommentServiceImpl">
        <property name="commentDAO" ref="commentDAO"/>
    </bean>

    <!-- Action依赖注入 -->
    <bean id="userRegAction" class="com.action.user.UserRegAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userLogAction" class="com.action.user.UserLogAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="roomsInfoAction" class="com.action.user.RoomsInfoAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="reservePageAction" class="com.action.user.ReservePageAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="reserveRoomAction" class="com.action.user.ReserveRoomAction" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="ordersInfoAction" class="com.action.user.OrdersInfoAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="orderDetailsAction" class="com.action.user.OrderDetailsAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="userCommentPageAction" class="com.action.user.UserCommentPageAction" scope="prototype">
        <property name="hotelService" ref="hotelService"/>
    </bean>
    <bean id="commentAction" class="com.action.user.CommentAction" scope="prototype">
        <property name="commentService" ref="commentService"/>
    </bean>
    <bean id="viewCommentsAction" class="com.action.user.ViewCommentsAction" scope="prototype">
        <property name="commentService" ref="commentService"/>
    </bean>
    <bean id="roomsInfoCityAction" class="com.action.user.RoomsInfoCityAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>


    <bean id="managerLogAction" class="com.action.manage.ManagerLogAction" scope="prototype">
        <property name="adminService" ref="adminService"/>
    </bean>
    <bean id="manageCommentsPageAction" class="com.action.manage.ManageCommentsPageAction" scope="prototype">
        <property name="commentService" ref="commentService"/>
    </bean>
    <bean id="deleteCommentAction" class="com.action.manage.DeleteCommentAction" scope="prototype">
        <property name="commentService" ref="commentService"/>
    </bean>


    <bean id="hotelRegAction" class="com.action.hotel.HotelRegisterAction" scope="prototype">
        <property name="hotelService" ref="hotelService"/>
    </bean>
    <bean id="hotelLogAction" class="com.action.hotel.HotelLoginAction" scope="prototype">
        <property name="hotelService" ref="hotelService"/>
    </bean>
    <bean id="addRoomsAction" class="com.action.hotel.AddRoomsAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="hotelRoomsInfoAction" class="com.action.hotel.HotelRoomsInfoAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="hotelRemoveRoomAction"  class="com.action.hotel.HotelRemoveRoomAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="hotelRoomDetailsAction" class="com.action.hotel.HotelRoomDetailsAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="hotelUpdateRoomAction" class="com.action.hotel.HotelUpdateRoomAction" scope="prototype">
        <property name="roomService" ref="roomService"/>
    </bean>
    <bean id="hotelOrdersInfoAction" class="com.action.hotel.HotelOrdersInfoAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="hotelOrderAction" class="com.action.hotel.HotelOrderAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="hotelViewComments" class="com.action.hotel.HotelViewCommentsAction" scope="prototype">
        <property name="commentService" ref="commentService"/>
    </bean>
</beans>